.card {
  background-color: rgba(240, 238, 238, 0.05);
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.card input {
  width: 100%;
  margin: 0.5rem 0;
}

